<h1>Solicitud de Vacaciones</h1>

<form>
  <div class="input-form">
    <label for="vacation-type">Seleccione el tipo de vacaciones</label>
    <select name="vacation-type" id="vacation-type">
      <option value="seleccione">Seleccione</option>
      <option value="disfrutados">Disfrutados</option>
      <option value="pagos">Pagos</option>
    </select>
  </div>
  <div class="input-group">
    <label for="days">Dias habiles a disfrutar</label>
    <input type="text" name="days" id="days">
  </div>
  <div class="input-group">
    <label for="days">Dias habiles a pagar</label>
    <input type="number" name="days" id="days">
  </div>
  <div class="input-group">
    <label for="final-date">Fecha de salida</label>
    <input type="date" name="final-date" id="final-date">
  </div>
  <div class="input-group">
    <label for="observartions">Observaciones</label>
    <textarea name="observartions" id="" cols="30" rows="10" maxlength="300"></textarea>
  </div>
  <button type="submit" class="btn btn-success" [disabled]="">Enviar</button>
</form>
