.formulario-container {
    width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 20px;
    font-weight: 500;
    color: #646464;
}

label {
    display: block;
}

form {
    width: 280px;
    margin: 0 auto;
    border: 1.2px solid #9b9b9b;
}

button {
    background-color: #007ed1;
    color: white;
    border: none;
    padding: 10px;
}

.input-group {
    margin: 15px;
}