<router-outlet></router-outlet>

<div class="animation-container">
  <h1>Dias pendientes por disfrutar:</h1>

  <table class="tabla-historico">
    <thead>
      <tr>
        <th>Fecha utilización</th>
        <th>Días utilizados</th>
        <th>Forma de utilización</th>
        <th>Acta de disfrute</th>
      </tr>
    </thead>
    <!-- aqui va el ngFor -->
    <tbody>
      <tr *ngFor="let i of Datos">
        <td routerLink="dias" routerLinkActive="active-link">
          {{ i.fecha_utilizacion }}
        </td>
        <td>{{ i.dias_utilizados }}</td>
        <td>{{ i.forma_utilizacion }}</td>
        <td routerLink="acta" routerLinkActive="active-link" ><img width="20px" src="../../../assets/img/pdf-file-outlined-interface-symbol_icon-icons.com_57528.png">
          {{ i.acta_disfrute }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
