h1 {
  font-size: 25px;
  text-align: center;
}

p {
  text-align: center;
}

table {
  margin: 0 auto;
  border-color: black;
  border-style: unset;
}

// table,
// tr,
// th,
// td {
//   border: 1px solid black;
// }

thead {
  tr {
    background: #007ed1;
    color: white;
    font-size: 17px;
    text-align: center;
  }
}

tr:nth-of-type(odd) {
  background-color: #ddd;
}
tr {
  text-align: center;
}
