<router-outlet></router-outlet>

<div>
  
  <h1>Dias pendientes por disfrutar: </h1>

  <table class="tabla-historico">
    <thead>
      <tr>
        <th>Fecha utilización</th>
        <th>Días utilizados</th>
        <th>Forma de utilización</th>
        <th>Acta de disfrute</th>
      </tr>
    </thead>
    <!-- aqui va el ngFor -->
    <tbody>
      <tr>
        <td routerLink= 'dias' routerLinkActive= 'active-link'>16-sep-2022</td>
        <td>5</td>
        <td>Disfrutados</td>
        <td routerLink= 'acta' routerLinkActive= 'active-link'>Acta de disfrute</td>
      </tr>
      <tr>
        <td routerLink= 'dias' routerLinkActive= 'active-link'>14-sep-2022</td>
        <td>4</td>
        <td>Pagos</td>
        <td routerLink= 'acta' routerLinkActive= 'active-link'>Acta de disfrute</td>
      </tr>
    </tbody>
  </table>

</div>


