* {
  margin: 0 auto;
  padding: 0 auto;
  position: relative;
}

.acta-disfrute-container {
  border: 1px solid gray;
  padding: 30px;
  position: fixed;
  top: 28%;
  left: 28%;
  right: 0;
  bottom: 0;
  // transition: all ease-out 0.3s;
  background-color: #ffffff;

  width: 600px;
  height: max-content;
}

button {
  padding: .375rem .75rem;
  border-radius: .25rem;
  background-color: #007bff;
  color: #fff;
  transition: background-color .15s ease-in-out;
  border-style: none;
  font-size: 17px;
  font-weight: bold;
}
