* {
  margin: 0 auto;
  padding: 0 auto;
  position: relative;
}

button {
  padding: .375rem .75rem;
  border-radius: .25rem;
  background-color: #007bff;
  color: #fff;
  transition: background-color .15s ease-in-out;
  border-style: none;
  font-size: 17px;
  font-weight: bold;
}

iframe {
  margin: auto 0;
 }

 .acta-disfrute-container {
  border: 1px solid gray;
  padding: 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // transition: all ease-out 0.3s;
  background-color: #ffffff;

  width: auto;
  height: max-content;
}

.b1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
