<div class="fecha-utilizacion-container">
  <div class="table-container">
    <h1>Fecha utilización</h1>
    <hr>
    <table class="tabla-reto-prueba">
      <thead>
        <tr>
          <th>Fecha de inicio de disfrute</th>
          <th>Fecha de finalizacion del disfrute</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>14-sep-2022</td>
          <td>26-sep-2022</td>
        </tr>
      </tbody>
    </table>
    <br>

    <button (click)="onReturn()">Retornar</button>
  </div>

</div>
